:root {
    --purple: #8c38ff;
    --darkwaterBlue: #0f292f;
    --poppingPink: #cb2d6f;
    --accentBlack: #2d283e;
    --promisingPurple: #281941;
    --tiktokBlue: #112870;
    --tiktokPink: #ea445a;
    --tiktokPinkwarm: #ea445ad3;
    --shiningYellow: #fdd935;
    --grapeGreen: #a6aa35;
    --peach: #faa88b;
    --warmPeach: #eb716a;
    --warmPeachcold: #eb706ab9;
    --pinkypeach: #f9d4e6;
    --mint: #99edc3;
    --seafoam: #3ded97;
    --navbarPurple: #54005d;
    --GAorange: #ff9f59;
    --GAcream: #e7d6d0;
    --darkOrange: #d43f10;
    --searchgreen: #76cebf;
}
/*    Following is for main Admin Panel Home page          */
#admin-home{
    background: url("assets/AdminBG.png");

}
#sidebar{
    color: var(--tiktokPink);
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.sidebar-content{
    color: var(--tiktokPink);
}
.sidebar-item{
    color: green;
    text-align: center;
    text-decoration: none;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.is-active{
    color: var(--promisingPurpler);
   text-decoration: underline;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: var(--accentBlack);
    border-color: var(--peach);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}
.hero-card-home{
    padding: 2px 16px;
    margin: auto;
    margin-top: 100px;
    width: 60%;
    padding: 10px;
    text-align: center;
    color: var(--warmPeach);
    text-transform: uppercase;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
    box-shadow: 10px 10px;
}
.hero-card-home a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: pink;
}
.hero-card-home button{
    color: var(--accentBlack);
    background: var(--peach);
    box-shadow: 4px 4px;
    border-radius: 12px;
    border-color: var(--accentBlack);
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 20px;
}
.hero-card-home hr{
    border: 3px solid var(--warmPeachcold);
}
#invisible-line{
   border: var(--warmPeach);
}
#home-title{
    text-decoration: underline;
    text-decoration-color: var(--accentBlack);
    text-decoration-style: wavy ;
    text-decoration-thickness: 2px ;
    font-size: 20px;
    color: var(--tiktokPink);
}
.offcanvas{
    background: var(--darkwaterBlue);
}
/*  Following is for Admin Products page */
#admin-products,#admin-product{
    background: url("assets/cartBG.png");
}


#product-type-statement{
    color: var(--peach);
}
#admin-options-panel{
    background: black;
    border: none;
}
.card-img-top{
    border-radius: 10px;
    padding: 25px;

}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
    color: var(--GAcream);
}
.card-subtitle{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--tiktokPink);
}
.btn-dark{
    border-radius: 40px;
    width: 120px;
    margin-bottom: 20px;
    background: var(--peach);
}
.row-cols-2{
    gap: 50px;
}
#card-prices{
    color: var(--GAcream);
}

/*   Add Product page */
#admin-add-product{
    background: url("assets/cartBG.png");
    font-size: 14px;
}

.grid-edit-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--darkwaterBlue);
    padding: 10px;
}
.grid-item{
    background-color: var(--GAcream);
    border: 1px solid var(--accentBlack);
    padding: 20px;
    font-size: 15px;
    text-align: center;
}
.product-img{
    object-fit: cover;
}
#resetChanges{
    margin-top: 10px;
}
.genre-picker-addProd{
    margin-right: 10px;
    text-align: center;
}
.product-type-picker{
margin-right: 10px;
}
.product-img-change{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}
#product-img-to-be-changed{
    padding-left: 20px;
    padding-bottom: 20px;
}
#deleteACC,#resetChanges,#password-reset,#saveACCChanges,#update-product,#fileToUpload{
    border-radius: 20px;
    color: var(--tiktokPink);
    background-color: var(--accentBlack);
    border-color: var(--tiktokPink);

}

#ACCADDS,#ACCEmail,#ACCFName,#telNum,#PrdDsc,#AlbmName,#ArtName,#PrdPrice,#description-box,#stock,#PrdYTLink{
    background-color: black;
    color: var(--tiktokPink);
    border-radius: 3px;
    border-color: black;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;

}
#genreRadioINDProd{
    text-align: center;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}
label{
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}


/*    LOL ACCOUNTS BG          */
#admin-accounts{
    background: url("assets/AccountsBG.png");
}
#admin-customer-acc-view{
    background: url("assets/AccountsBG.png");
}