:root {
    --purple: #8c38ff;
    --darkwaterBlue: #0f292f;
    --poppingPink: #cb2d6f;
    --accentBlack: #2d283e;
    --promisingPurple: #281941;
    --tiktokBlue: #74f0ed;
    --tiktokPink: #ea445a;
    --tiktokPinkwarm: #ea445ad3;
    --shiningYellow: #fdd935;
    --grapeGreen: #a6aa35;
    --peach: #faa88b;
    --warmPeach: #eb716a;
    --warmPeachcold: #eb706ab9;
    --pinkypeach: #f9d4e6;
    --mint: #99edc3;
    --seafoam: #3ded97;
    --navbarPurple: #54005d;
    --GAorange: #ff9f59;
    --GAcream: #e7d6d0;
    --darkOrange: #d43f10;
    --searchgreen: #76cebf;
}
/*    Following is for main Admin Panel Home page          */
#admin-home{
    background: var(--accentBlack);
}
.sidebar-content{
    color: var(--accentBlack);
}
.sidebar-item{
    color: green;
    text-align: center;
    text-decoration: none;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.is-active{
    color: var(--promisingPurpler);
}
.card{
    box-shadow: 0 4px 8px 0 rbga(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}
.hero-card-home{
    padding: 2px 16px;
    margin: auto;
    margin-top: 100px;
    width: 60%;
    padding: 10px;
    text-align: center;
    color: var(--warmPeach);
    text-transform: uppercase;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
    box-shadow: 10px 10px;
}
.hero-card-home a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
.hero-card-home button{
    color: var(--accentBlack);
    background: var(--peach);
    box-shadow: 4px 4px;
    border-radius: 12px;
    border-color: var(--accentBlack);
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 20px;
}
.hero-card-home hr{
    border: 3px solid black;
}
#invisible-line{
   border: var(--warmPeach);
}
#home-title{
    text-decoration: underline;
    text-decoration-color: var(--accentBlack);
    text-decoration-style: wavy ;
    text-decoration-thickness: 2px ;
    font-size: 20px;
    color: var(--tiktokPink);
}
.offcanvas{
    background: var(--GAcream);
}
/*  Following is for Admin Products page */

#admin-options-panel{
    position: relative;
    background: black;
    border: none;
}