:root {
    --purple: #8c38ff;
    --darkwaterBlue: #0f292f;
    --poppingPink: #cb2d6f;
    --accentBlack: #2d283e;
    --promisingPurple: #281941;
    --tiktokBlue: #74f0ed;
    --tiktokPink: #ea445a;
    --tiktokPinkwarm: #ea445ad3;
    --shiningYellow: #fdd935;
    --grapeGreen: #a6aa35;
    --peach: #faa88b;
    --warmPeach: #eb716a;
    --warmPeachcold: #eb706ab9;
    --pinkypeach: #f9d4e6;
    --mint: #99edc3;
    --seafoam: #3ded97;
    --navbarPurple: #54005d;
    --GAorange: #ff9f59;
    --GAcream: #e7d6d0;
    --darkOrange: #d43f10;
    --searchgreen: #76cebf;
}