:root {
    --purple: #8c38ff;
    --darkwaterBlue: #0f292f;
    --poppingPink: #cb2d6f;
    --accentBlack: #2d283e;
    --promisingPurple: #281941;
    --tiktokBlue: #74f0ed;
    --tiktokPink: #ea445a;
    --tiktokPinkwarm: #ea445ad3;
    --shiningYellow: #fdd935;
    --grapeGreen: #a6aa35;
    --peach: #faa88b;
    --warmPeach: #eb716a;
    --warmPeachcold: #eb706ab9;
    --pinkypeach: #f9d4e6;
    --mint: #99edc3;
    --seafoam: #3ded97;
    --navbarPurple: #54005d;
    --GAorange: #ff9f59;
    --GAcream: #e7d6d0;
    --darkOrange: #d43f10;
    --searchgreen: #76cebf;
}

#customer-home{

    background-color: var(--accentBlack) /* TEMP  */
}
#home-title{
    color: var(--navbarPurple);
    font-size: 60px;
}

/*
.card {
    width: 400px;
    min-height: 250px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
} */

main{
    background: url("../assets/DashboardBG.png");
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-areas:
            "info history"
            "favgenres delete"
;
}
#your-info{
    grid-area: info;
}
#history{
    grid-area: history;
}
#favGenres{
    grid-area: favgenres;
}
#deleteACC{
    grid-area: delete;
}