:root {
    --purple: #8c38ff;
    --darkwaterBlue: #0f292f;
    --poppingPink: #cb2d6f;
    --accentBlack: #2d283e;
    --promisingPurple: #281941;
    --tiktokBlue: #74f0ed;
    --tiktokPink: #ea445a;
    --tiktokPinkwarm: #ea445ad3;
    --shiningYellow: #fdd935;
    --grapeGreen: #a6aa35;
    --peach: #faa88b;
    --warmPeach: #eb716a;
    --warmPeachcold: #eb706ab9;
    --pinkypeach: #f9d4e6;
    --mint: #99edc3;
    --seafoam: #3ded97;
    --navbarPurple: #54005d;
    --GAorange: #ff9f59;
    --GAcream: #e7d6d0;
    --darkOrange: #d43f10;
    --searchgreen: #76cebf;
}

#customer-home{
    background: url("../assets/DashboardBGV3.png");
    background-position: px;
    background-size: cover;
    background-repeat: no-repeat;

}

#home-title{
    color: var(--poppingPink);
    font-size: 60px;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}
/*
.card {
    width: 400px;
    min-height: 250px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
} */

main{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-gap: 30px;
    grid-row-gap: 100px;
    margin: auto;


    padding: 5px;
}


.card{
    background-color: var(--poppingPink);
    border-color: var(--tiktokBlue);
    border-radius: 1px;


}
.title{
    background-color: var(--accentBlack);
    color: var(--warmPeach);
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.subtitle{
    color: var(--tiktokBlue);
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.btn{
    color: white;
    padding: 5px;
}

#your-info{
    grid-area: info;
    margin-bottom: 10px;
}
#history{
    grid-area: history;
}

#favGenres{
    grid-area: favgenres;
    margin-bottom: 10px;

}
#deleteACC{
    grid-area: delete;
}


            /***********************************************************************
                ************************************************************************
                    This is due to PHP Navbar Having issues i dont have the time to simply fix UwU
                ************************************************************************
            ***********************************************************************/


/* Navbar Code */
.navbar {
    background-image: linear-gradient(
            to right,
            var(--navbarPurple),
            var(--warmPeachcold)
    );
}

.accountNavBar p{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto 0;
    font-size: 14px;
}
/* Navbar Code */
#search-bar {
    background-color: var(--GAcream);
    border-width: medium;
    border-color: var(--accentBlack);
}

#navbar-test {
    background: url(assets/bg.png);
}

#navbar-search-btn {
    background-color: var(--GAcream);
    border-width: 10px;

}
#navbar-search-btn div{
    transform: rotate(-45deg);
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 3px;

}

.NavBarSearchDiv{
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}


#main-word {
    color: antiquewhite;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}

::selection {
    color: #ffffff;
    background-color: var(--darkOrange);
}

#login-pill {
    background-color: var(--tiktokPinkwarm);
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-color: var(--darkwaterBlue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}
#logout-pill {
    background-color: var(--bs-red);
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-color: var(--darkwaterBlue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}
#sign-pill {
    background-color: var(--warmPeachcold);
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-color: var(--darkwaterBlue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}
#basketPill{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accentBlack);
    border-width: 3px;
    border-color: var(--darkOrange);
}
#basket-icon{
    color: var(--mint);
}

#about-nav{
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#nav-words{
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#nav-bottom-border{
    border-bottom: 3px solid;
    border-color: var(--accentBlack) ;
}

.account-username{
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;

}

.account-username a{
    color: whitesmoke;
    text-decoration: none;
}


/* Navbar Css end */

            /***********************************************************************
                ************************************************************************
                                           Brain No want CSS
                ************************************************************************
            ***********************************************************************/




/* Footer CSS start  */
#index-footer{
    margin-top: 60px;
    background: url("../assets/footerBG.png");
}


#footer-useful{
    color: var(--poppingPink);
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
    border-bottom: 1px solid;
    border-color: var(--tiktokBlue);
}

.footer-list{
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
}

.footer-items{

    margin-top: 30px;
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#footer-contact-us{
    color: var(--poppingPink);
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
    border-bottom: 1px solid;
    border-color: var(--tiktokBlue);
}

#footer-email-color{
    color: var(--poppingPink);
}

#footer-copyright{
    margin-top: 10px;
    background-color: black;
    height: 50px;
    color: whitesmoke;
    text-align: center;
    font-family: "fields", sans-serif;
    font-weight: 70;
    font-style: normal;
}
                /***********************************************************************
                ************************************************************************
                                     Footer Footer Toil and Butter
                ************************************************************************
                ***********************************************************************/


/***********************************************************************
        ************************************************************************
                               Dashboard - Info start
        ************************************************************************
    ***********************************************************************/


/* #dashboard-info{
    background: url("../assets/Dashboard-InfoBG.png");
    background-position: px;
    background-size: cover;
    background-repeat: no-repeat;
} */

