name: Deploy to server
on: [push]
jobs:
  build:
    name: Pull
    runs-on: ubuntu-latest
    steps:
    - name: Pull
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.ARTIFACT_HOST }}
        username: ${{ secrets.ARTIFACT_USERNAME }}
        key: ${{ secrets.ARTIFACT_SSH_KEY }}
        script: |
          cd /usr/share/nginx/html/Group15TeamProject/
          git stash
          git pull
          git stash apply
